body {
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 10;
}

canvas {
  display: block;
}

